

.Quote{
    width: 60%;
    margin: 1rem auto 0;
    padding: 5%
}
p{
    
    font-weight: 500;
    margin: 0 auto;
    padding: 1%;
    font-size: 3rem;
    position: relative;
    top: 1rem;
    color: rgb(19, 21, 158);

}

